@import url('https://fonts.googleapis.com/css?family=Roboto:500|Roboto:500');
/* Global */

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: clamp(12px, 10px + 1vw, 14px);
}

/* Type Scale setting */

/*14px*/

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.50;
    color: #333;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

p {
    margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

small, .text_small {
    font-size: 0.8em;
}

/* My settings */

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    width: 25rem;
}

.instagram-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 80%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-top: 2rem;
}

.group .instagram-logo {
    border-radius: 8px;
    height: 6rem;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.group .profile-photo img {
    height: 10rem;
}

.instagram-login-button {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 2rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    cursor: pointer;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./utils/apple-button.png');
    border-radius: 4px;
}

.app-download:nth-child(2) {
    background-image: url('./utils/google-play-button.png');
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .body {
        background-color: white;
    }
    .instagram-login {
        width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-login {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}